<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeCon Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>WeCond is</h1>
            <h2>fast and reliable weather forecast</h2>
            <h2>for you to be confident</h2>
        </div>
        <div class="col">
            <div class="card shadow">
                <p>here should be input for city (location)</p>
                <p>here should be weather forecast for chosen city</p>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <p>Made by TARAS HRECHUKH<p>
</footer>
</html>